<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>固定资产维护系统</title>
    <link href="~/Scripts/src/css/layui.css" rel="stylesheet" />
    <style>
        .layui-tab-title li {
            border: 1px solid #cec6c6;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header" style="background-color: #0074c8 ">
            <div class="layui-logo" style="width:800px;line-height:10px;text-align:left;font-size:30px;padding-top:0.5px;color:white">
                <img src="~/Scripts/src/picture/logo.png" style="height:58px" />   东泰固定资产管理系统
            </div>
            @*头部区域 使用 layui的水平导航*@
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    @* <img src="~/Image/箭头.jpg" class="layui-nav-img" />*@
                    <b>用户名:</b>
                    <cite id="loginName">@ViewBag.UserName &nbsp</cite>

                </li>
                <li class="layui-nav-item">
                    <b>工厂：</b>
                    <cite id="plant">@ViewBag.plant</cite>
                    @* <input value="@ViewBag.plant"/>*@
                </li>
                <li class="layui-nav-item"><a href="/Login/Logout">Logout</a></li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black" id="den">
            <div class="layui-side-scroll">
                @*左侧导航区域 *@
                <ul class="layui-nav layui-nav-tree" lay-filter="LeftItem">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" class="link-active" lay-href="/Home/FixedAssetsMainData" data-id="1" data-title="固定资产主数据"><i class="layui-icon layui-icon-home"></i>  固定资产主数据</a>
                    </li>
                    @*                    <li id="link2">
                        <hr />
                    </li>
                    <li class="layui-nav-item" id="link3">
                        <a href="javascript:;" class="link-active" lay-href="/Home/FixedAssetsMainTain" data-id="4" data-title="固定资产维护"><i class="layui-icon layui-icon-util"></i>   固定资产维护</a>
                    </li>*@
                    <li id="link4">
                        <hr />
                    </li>
                    <li class="layui-nav-item" id="link5">
                        <a href="javascript:;" class="link-active" lay-href="/Home/UserInfo" data-id="6" data-title="用户信息维护"><i class="layui-icon layui-icon-user"></i>   用户信息维护</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            @*@RenderBody()*@
            <div class="layui-tab layui-tab-card" lay-filter="tables" lay-allowclose="true">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="1" style="background-color:gray;color:white">固定资产主数据</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe data-frameid="1" scrolling="auto" frameborder="0" src="/Home/FixedAssetsMainData" style="width:100%;height:780px"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-footer" style="text-align: right">
            <label style="color: red; padding-right:1260px">注：查询多个使用人时，中间需添加空格</label>
            苏州@东泰精密模具公司
        </div>
    </div>
    <script src="~/Scripts/src/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use(['element', 'layer', 'jquery'], function () {
            var element = layui.element;
            var $ = layui.jquery;
            //左侧菜单点击事件
            $('.link-active').on('click', function () {
                var dataid = $(this);
                //判断右侧是否有tab
                if ($('.layui-tab-title li[lay-id]').length <= 0) {
                    tabFunction.tabAdd(dataid.attr('lay-href'), dataid.attr('data-id'), dataid.attr('data-title'))
                } else {
                    //判断tab是否已经存在
                    var isExist = false;
                    $.each($('.layui-tab-title li[lay-id]'), function () {
                        //筛选id是否存在
                        if ($(this).attr('lay-id') == dataid.attr("data-id")) {
                            isExist = true;
                        }
                    });
                    //不存在，增加tab
                    if (isExist == false) {
                        tabFunction.tabAdd(dataid.attr('lay-href'), dataid.attr('data-id'), dataid.attr('data-title'));
                    }
                }
                //转到要打开的tab
                tabFunction.tabChange(dataid.attr('data-id'));
            });
            element.on('tab(tables)', function (data) {
                //console.log(this);
                //console.log(data.index);
                $.each($('.layui-tab-title li'), function () {
                    if ($(this).attr('class') == "layui-this") {
                        $(this).css({ 'background-color': 'gray', 'color': 'white' })
                    }
                    else {
                        $(this).css({ 'background-color': 'white', 'color': 'black' })
                    }
                })
            });0
            //$('#den').removeClass('layui-side layui-bg-black').hide();
            //定义函数 绑定增加tab，删除tab，切换tab几项事件
            var tabFunction = {
                //新增tab url 页面地址 id 对应data-id name标题
                tabAdd: function (url, id, name) {
                    element.tabAdd('tables', {
                        title: name,
                        content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:790px"></iframe>',
                        id: id
                    });
                },
                //根据id切换tab
                tabChange: function (id) {
                    element.tabChange('tables', id)
                },
                //关闭指定的tab
                tabDelete: function (id) {
                    element.tabDelete('tables', id)
                }
            }
        });
    </script>
    <script>
        //window.onload = checkAdmin;
        //监控dom是否加载完毕，dom加载完毕时及资源加载之前触发
        layui.jquery().ready(
            function checkAdmin() {//检查管理员
                var isAdmin = '@ViewBag.IsAdmin';
                //console.log(isAdmin);
                if (isAdmin == "UserNormal") {
                    layui.jquery('#link4').hide();
                    layui.jquery('#link5').hide();
                }
            })
    </script>
</body>
</html>
